* {
    box-sizing: border-box;
}

:root {
    --header-height-desktop: 100px;
    --header-height-mobile: calc(var(--header-height-desktop)/2);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background: #888;
}

/*** Container ***/

.container {
    background: #eee;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 10px;
}

/*** Navigation ***/

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
}

nav ul li a {
    background: #333;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    padding: 10px 30px;
}

nav ul li a:hover {
    background: #111;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    order: 3;
}

.logo-text {
    float: left;
    color: white;
    font-size: 30px;
    align-items: center;
    display: flex;
    padding: 20px;
    flex-grow: 0;
    order: 1;
}

.logo-text a {
    color: white;
    text-decoration: none;
}

header {
    background: #333;
    flex-basis: 100px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-wrap: nowrap;
}

.hamburger-button-container {
    display: none;
    order: 2;
}

main {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 200px;
}

/*** Footer ***/

footer {
    flex-grow: 0;
    padding: 20px;
    background: #333;
    color: white;
    display: flex;
}

footer section {
    flex-basis: 100%;
}

footer section address ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media-links {
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
}

/*** Menu Row ***/

.menu-row-content {
    display: flex;
}

.menu-row-content section {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ddd;
    margin: 20px;
}

.menu-row-content img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.menu-row-content h3 {
    background: #222;
    color: white;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
}

/*** Contact Menu ***/

input {
    width: 100%;
    height: 3em;
    display: inline-block;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px
}

.social-media-links a {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    text-decoration: none;
    margin: 2px;
}

.social-media-links i {
    margin: auto;
}

/*** Screens smaller than 1024px ***/

@media screen and (max-width: 1024px) {
    
    main {
        padding: 30px;
    }

    .menu-row-content img {
        aspect-ratio: 1/2;
    }
}

/*** Screens smaller than 768px ***/

@media screen and (max-width: 768px) {

    header {
        flex-wrap: wrap;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    main {
        padding: 10px;
    }

    .hidden-on-mobile {
        display: none;
    }

    .hamburger-button-container {
        display: flex;
    }

    header button {
        width: 100px;
        font-size: 33px;
        background-color: #333;
        color: white;
        border-left: 1px solid #888;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-row-content img {
        aspect-ratio: 8/1;
    }

    /*** Navigation menu links ***/

    nav ul li a {
        width: 100%;
        padding: 27px;
        border-bottom: 1px solid #111;
        border-top: 1px solid #111;
    }

    /*** Menu Items ***/
    
    .menu-row-content {
        display: flex;
        flex-direction: column;
    }

    .menu-row-content section {
        width: 100%;
        margin: 0;
    }
    

    footer {
        flex-direction: column;
    }

}

@media screen and (max-width: 600px){
    
    .hamburger-button-container {
        width: 100%;
    }
    .hamburger-button-container button {
        width: 100%;
        padding: 10px;
    }
}