/*
* Matthew Moczynski
* Design Basics 2 Class
* Contains the following six methods: Scroll snap, CSS rotation transform, 
* nested CSS, CSS only modal, CSS animations, and CSS masking
* 
* This website is meant to inform the viewer of some atolls.
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
* Background image source:
* https://commons.wikimedia.org/wiki/File:Buiobuione_Beach_within_an_uninhabited_island_of_Kaafu_Atoll_Maafushi.jpg
* 
/

/*** 
*
* Method 3: Scroll snap
* https://css-tricks.com/practical-css-scroll-snapping/
*
****/

body, html {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: 100;
}

html {
    overflow: hidden;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

main > * {
    scroll-snap-align: center;
}

/**
* Method 1: CSS nesting
* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting/Using_CSS_nesting
*/

section {

    background: #333;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & h1 {
        font-size: 70px;
    }

}

/*** Padding for divs in flexbox sections ***/

section > div {
    padding: 20px;
}

/*** Method 2: Rotating element using CSS transform property. ***/

#nissan-atoll-img {
    transform: rotate(-4deg);
}

#tetiaroa-atoll-img {
    transform: rotate(10deg);
}

#nukuoro-atoll-img {
    transform: rotate(5deg);
}

#johnston-atoll-img {
    transform: rotate(-10deg);
}

/*** Atoll image ***/

.atoll-image {
    box-shadow: 0 0 10px black;
    width: 200px;
}



/*** 
*
* Method 6: CSS mask 
*
* https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image
* https://developer.mozilla.org/en-US/docs/Web/CSS/mask-size
* https://developer.mozilla.org/en-US/docs/Web/CSS/mask-mode
***/

section:nth-child(1) {
    background: #333;
    flex-direction: column;
    mask-image: radial-gradient(white,white,#222);
    background-image: url("images/bg-image.jpg");
    mask-size: 100vw;
    mask-mode: luminance;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section:nth-child(2) {
    background: #487336;
}

section:nth-child(3) {
    background: #1962c1;
}

section:nth-child(4) {
    background: #172651;
}

section:nth-child(5) {
    background: #14534a;
}

/*** 
*
* Method 4: https://dev.to/mandrewdarts/css-only-modal-using-target-5ac7
* CSS only modal
*
*
 ***/

.map-container {
    display: none;
}

.map-hide-link {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    margin: 30px;
    font-size: 50px;
    text-decoration: none;
}

.map-hide-link::after {
    content: "\00d7";
}

.map-container:target {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1,1,1,0.5);
    align-items: center;
    justify-content: center;
}

/*** :has selector ***/

div:has(#nissan-atoll-map:target) #nissan-atoll-map-link {
    display: none;
}




iframe {
    box-shadow: 0 0 10px black;
}

/*** Method 5: CSS Animations ***/

/**@keyframes bobing {
    25% {
        margin-top: 10px;
        transform: rotate(5deg)
    }

    50%: {
        margin-top: 0;
    }

    75%: {
        margin-top: 10px;
    }

    100% {
        margin-top: 0;
    }
}**/

/**img#nissan-atoll-img {
    animation-duration: 1s;
    animation-name: bobing;
    animation-iteration-count: infinite;
}**/

@keyframes h1Intro {
    from {
        transform: translate(-100vw, 0px);
        display: none;
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes paraIntro {
    from {
        transform: translate(100vw, 0px);
        display: none;
    }

    to {
        transform: translate(0px, 0px);
    }
}

h1 {
    animation-name: h1Intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#subheader-paragraph {
    animation-name: paraIntro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    font-weight: 400;
}

/*** Buttons ***/

.button {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    display: block;
    margin-right: 10px;
    border-radius: 5px;
}

/*** Desktop Styles ***/

@media only screen and (min-width: 768px) {

    section {
        flex-direction: row;

        & h1 {
            font-size: 100px;
        }

    }

    .atoll-image {
        width: 400px;
    }

    /*** Buttons ***/

    .button {
        display: inline-block;
    }


}

/*** Styles for screens that are a tablet or wider ***/

@media only screen and (min-width: 480px) {
    /*** Padding for divs in flexbox sections ***/

    section > div {
        padding: 40px;
    }
}


